<style type="text/css">
.spiffy{display:block}
.spiffy *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#CCF7E6}
.spiffy1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #e9fbf4;
  border-right:1px solid #e9fbf4;
  background:#d8f9ec}
.spiffy2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #f9fefc;
  border-right:1px solid #f9fefc;
  background:#d5f8ea}
.spiffy3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #d5f8ea;
  border-right:1px solid #d5f8ea;}
.spiffy4{
  border-left:1px solid #e9fbf4;
  border-right:1px solid #e9fbf4}
.spiffy5{
  border-left:1px solid #d8f9ec;
  border-right:1px solid #d8f9ec}
.spiffyfg{
  background:#CCF7E6}
</style>