<style type="text/css">
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: white;}
</style>
<body>

<ul>
<% @dirs.each do |dir| %>
	<li><%= link_to  (dir, ingests_project_path(:id => @project.id, :path => dir)) %></li>
<% end %>
</ul>

<%= form_for(:path, :url => ingests_project_path(:id => @project.id)) do |f| %>
	<%= f.hidden_field :path, :value => params[:path] %>
	<%= submit_tag "go" %>
<% end %>
</body>